<div *ngIf = "info.token; else loggedOut">
  <table border="1">
    <th>Data Połączenia</th>
    <th>Rodzaj</th>
    <th>Numer docelowy</th>
    <th>Rozmiar</th>
    <th>Cena</th>

    <tr *ngFor="let row of history">
      <td>{{ row.data_polaczenia }}</td>
      <td>{{ row.rodzaj }}</td>
      <td>{{ row.nr_docelowy }}</td>
      <td>{{ row.rozmiar }}</td>
      <td>{{ row.cena }}</td>
    </tr>
  </table>
</div>
<ng-template #loggedOut>
  <div><a href="login">Zaloguj się!</a></div>
</ng-template>