<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--wpis obowiązkowy do komunikacji ze Spring Boot-->
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/klienci/add}" th:object="${formKlienci}" th:method="post">
    <!--th:action - tutaj wpisujemy do jakiej strony mamy przejść po kliknięci submit-->
    <!--th:object - nazwa obiektu - musi być taka sama jak w KlienciResource!-->
    <!--th:method - metoda przesyłania formularza-->
    <!--zwracam uwagę na znaczki!-->
    Imie
    <input type="text" id="imie" th:field="*{imie}" /><br/>
    <!--przykład wpisania pola-->
    Nazwisko
    <input type="text" id="nazwisko" th:field="*{nazwisko}"/><br/>
    PESEL
    <input type="text" id="pesel" th:field="*{pesel}"/><br/>
    Adres Zam
    <input type="text" id="adres_zam" th:field="*{adres_zam}"/><br/>
    Adres Kon
    <input type="text" id="adres_kon" th:field="*{adres_kon}"/><br/>
    telefon
    <input type="text" id="telefon" th:field="*{telefon}"/><br/>
    E-mail
    <input type="email" id="email" th:field="*{email}"/><br/>
    <input type="submit" value="Dodaj"/>


</form>

</body>
</html>