<div *ngIf="info.token; else loggedOut">
  <div class="formMargin">
    <form (submit)="searchPhones(id)">
      <div class="formContent">
        <label>Podaj ID klienta</label>
        <input type="text" name="id" required [(ngModel)]="id" />
      </div>
      <div class="formButton">
        <button class="bigButton">Szukaj</button>
      </div>
    </form>
    </div>
    <button class="bigButton" (click)="getAllPhones()">Pokaż wszystko</button>
    <button class="bigButton" routerLink="form">Dodaj</button>
    <br>
    <table class="tableWidth" >
      <th>
        Id
      </th>
      <th>
        Numer
      </th>
      <th>
        Postpaid
      </th>
      <th>
        Stan Konta
      </th>
      <th>
        Darmowe rozmowy
      </th>
      <th>
        Darmowe smsy
      </th>
      <th>
        Darmowy internet
      </th>
      <th>
        Id Klienta
      </th>

      <tr *ngFor="let phone of phones">
        <ng-template #thenBlock>
          <td>Tak</td>
        </ng-template>
        <ng-template #elseBlock>
          <td>Nie</td>
        </ng-template>
        <td>{{ phone.id }}</td>
        <td>{{ phone.numer }}</td>
        <div *ngIf="phone.postpaid; then thenBlock else elseBlock"></div>
        <td>{{ phone.stan_konta }}</td>
        <div *ngIf="phone.darmowe_rozmowy; then thenBlock else elseBlock"></div>
        <div *ngIf="phone.darmowe_smsy; then thenBlock else elseBlock"></div>
        <div *ngIf="phone.darmowy_internet; then thenBlock else elseBlock"></div>
        <td>{{ phone.id_klienta }}</td>
        <td class="noBackground"><button (click)="showHistory(phone.id)"> Historia </button></td>
        <td class="noBackground"><button [routerLink]="['form', phone.id]"> Edytuj </button></td>
        <td class="noBackground"><button (click)="deletePhones(phone.id)"> Usuń </button></td>
      </tr>
    </table>
  </div>
  <ng-template #loggedOut>
    <div><a href="login">Zaloguj się!</a></div>
  </ng-template>
