<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~s141191/crmfront/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /~s141191/crmfront/index.html [L]
</IfModule>