<!-- <form (submit)="searchPhones(id)">
    <label>Podaj ID klienta</label>
    <input type="text" name="id" required [(ngModel)]="id" />
    <button>Szukaj</button>
  </form>
  
  <br/><br/>
  <table border="1">
      <th>
          Id
      </th>
  <th>
      Numer
  </th>
  <th>
      Postpaid
  </th>
  <th>
      Stan Konta
  </th>
  <th>
     Darmowe rozmowy
  </th>
  <th>
      Darmowe smsy
  </th>
  <th>
      Darmowy internet
  </th>
  <th>
      Id Klienta
  </th>
  
  <tr *ngFor="let phone of phones">
      <td>{{ phone.id }}</td>
      <td>{{ phone.numer }}</td>
      <td>{{ phone.postpaid }}</td>
      <td>{{ phone.stan_konta }}</td>
      <td>{{ phone.darmowy_rozmowy }}</td>
      <td>{{ phone.darmowe_smsy }}</td>
      <td>{{ phone.darmowy_internet }}</td>
      <td>{{ phone.idklienta }}</td>
      <td><button [routerLink]="['form', phone.numer]"> Edytuj </button></td>
      <td><button (click)="deletePhone(phone.numer)"> Usuń </button></td>
  </tr>
  </table>
   -->