/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

body 
    {
    background-image: url(tlo.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: Verdana;
    font-size: 20px;
    color: white;
    margin: 0 !important;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    }

h1
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-weight: bold;
    
    } 


#pasek 
    {
        background-color: #ece5d3;
        padding: 0px;
        height: 50px;
        text-align: center ;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;

    }

ol
    {
        margin: 0;
        display: inline-block;
        font-size: 18px;
        height: 35px;
        line-height: 200%;
        list-style-type: none;
        padding: 4px;
        min-width: 50px;
        
    }
    
ol > li
    {
        float: left;
        width: 150px;
        height: 40px;
        
    }

li
    {
        text-align: center ;
        float: left;
        min-width: 50px;
        height: 25px;
        font-size: 18px;
        margin: 0px;
        opacity: 0.8;
        
    }

li:hover
    {
        background-color:#c7bb9a;
        cursor: pointer;
    }

  
a:link
{
		color: black;
}


a:visited
{
	color: black;
}

a 
{     
    text-decoration: none; 
} 