/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

body 
    {
    background-color: grey;
    font-family: Verdana;
    font-size: 20px;
    color: white;
    margin: 0 !important;
    }


#pasek 
    {
        background-color: #303030;
        padding: 0px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        height: 50px;
        text-align: center ;
        margin: 0px;

    }

ol
    {
        margin: 0;
        display: inline-block;
        font-size: 18px;
        height: 35px;
        line-height: 200%;
        list-style-type: none;
        padding: 4px;
        min-width: 50px;
        
    }
    
ol > li
    {
        float: left;
        width: 150px;
        height: 40px;
        border-right: 1px dashed black;
        border-left: 1px dashed black;
        
    }

li
    {
        text-align: center ;
        float: left;
        min-width: 50px;
        height: 25px;
        font-size: 18px;
        margin: 0px;
        opacity: 0.8;
        
    }

li:hover
    {
        background-color:royalblue;
        cursor: pointer;
    }

  
a:link
{
		color: white;
}


a:visited
{
	color: white;
}

a 
{     
    text-decoration: none; 
} 