/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-image: url(tlo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  margin: 0 !important;
  /* PADDING NOPE HERE PLS*/
  /* U mnie działa dobrze, nic się nie rozwala, a padding tutaj jest potrzebny
  aby pasek menu nie był aż tak szeroki.
  Oczywiście, jak u was będzie się rozwalać to zmieńcie,
  ja po prostu robiłem tak jak w projekcie wyglądu */
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-weight: bold;

}


#pasek 
    {
        background-color: #ece5d3;
        height: 50px;
        text-align: center ;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        

    }

ol
    {
        margin: 0;
        display: inline-block;
        font-size: 18px;
        height: 35px;
        line-height: 200%;
        list-style-type: none;
        padding: 4px;
        min-width: 50px;
        
    }
    
ol > li
    {
        float: left;
        width: 150px;
        height: 40px;
        
    }

li
    {
        text-align: center ;
        float: left;
        min-width: 50px;
        height: 25px;
        font-size: 18px;
        margin: 0px;
        opacity: 0.8;
        
    }

li:hover
    {
        background-color:#c7bb9a;
        cursor: pointer;
    }

  
a:link
{
		color: black;
}


a:visited
{
	color: black;
}

a 
{     
    text-decoration: none; 
} 
table {
  /* margin-left: 8.5%;
    margin-right: 8.5%; */
  margin-top: 10px;
  width: 83%;
  margin-left: auto;
  margin-right: auto;



}

td,
th {

  background-color: darksalmon;
  border: 1px solid black;
  padding: 5px;

}

button {
  border: 2px;
  border-color: white;
  margin: 0px 20px;
  background-color: #494746;
  color: white;
}

td.noBackground {
  background-color: none !important;
  background: none;
  border: none;
}

td.noBackground>button {
  width: 90%;
  height: 40px;
}

.bigButton {
  width: 150px;
  height: 30px;
}

/* form {
    margin: 20px;
} */
.formMargin {
  margin-left: 8.5%;
  margin-top: 20px;
}

.formContent {
  color: black;
  font-weight: bolder;
  float: left;

  height: 30px;
}

.formContent>input {
  height: 30px;
  
}

.formButton {
  float: left;
}

/* .editForm>div>label {
  width: 150px;
  height: 40px;
  border: 2px;
  border-color: white;
  background-color: #494746;
  color: white;
  text-align: center;
  margin:0;
  padding: 0;
}

.editForm>div>input {
  background-color: darksalmon;
  height: 100%;
  margin:0;
  padding: 0;
  border: 2px;
  border-color: white;

} */

.editForm>div {
  height: 40px;
  margin:10px;
  
}
.editForm{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
div.bigButton{
  border: 2px;
  border-color: white;
  margin: 0px 20px;
  background-color: #494746;
  color: white;
  float: left;
  text-align: center;
  height: 40px;
  align-items: center;
  vertical-align: middle;
  
}
.bigButton>label{
  padding: 10px;
}
div.element{
  background-color: darksalmon;
  border: 1px solid black;
  padding: 5px;
  width: 250px;
  height: 40px;
  float: left;
  align-items: center;
}
div.element > input{
  width: 240px;
  border: none;
  background: none;
  background-color: none;
}
.radio{
  float: left;
  margin-right: 10px;
  align-items: center;
}
div.button{
  margin-right:auto;
  margin-left: auto;
  margin-top:20px;
  height: 40px;
}
