<div class="main" *ngIf = "info.token; else loggedOut">
    <div class="formMargin">
        <form (submit)="searchClient(pesel)">
            <label for="pesel">Podaj PESEL</label>
            <input class="form-control" style="max-width:250px; margin-bottom:10px" type="text" name="pesel" required [(ngModel)]="pesel" />
            <button class="btn btn-info">Szukaj</button>
        </form>
        <button style="margin-top:10px;margin-right:10px;margin-bottom:10px" class="btn btn-info" (click)="getAllClients()">Pokaż wszystko</button>
        <button style="margin-top:10px;margin-bottom:10px" class="btn btn-info" routerLink="form">Dodaj</button>
    
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th> Imię</th>
                <th>Nazwisko</th>
                <th>PESEL</th>
                <th>Adres</th>
                <th>Adres kontaktowy</th>
                <th>Telefon kontaktowy</th>
                <th>e-mail</th>
                <th style="min-width: 240px">Akcje</th>
            </tr>
        </thead>
    
    <tr *ngFor="let client of clients">
        <!--wykonuje się pętla dla listy lists (nazwa taka jak w KlienciResource)-->
        <td>{{ client.id }}</td>
        <td>{{ client.imie }}</td>
        <td>{{ client.nazwisko }}</td>
        <td>{{ client.pesel }}</td>
        <td>{{ client.adres_zam }}</td>
        <td>{{ client.adres_kon }}</td>
        <td>{{ client.telefon }}</td>
        <td>{{ client.email }}</td>
        <td>
            <button style="margin-right:3px" (click)="showFacture(client.id)" class="btn btn-dark"> Faktura </button>
            <button style="margin-right:3px" [routerLink]="['form', client.id]" class="btn btn-success"> Edytuj </button>
            <button (click)="deleteClient(client.id)" class="btn btn-danger"> Usuń </button>
        </td>
    </tr>
    </table>
    </div>
</div>

<ng-template #loggedOut>
    <div><a class="btn-dark" href="login">Zaloguj się!</a></div>
</ng-template>