/* You can add global styles to this file, and also import other style files */

body 
    {
    background-color: lightseagreen;
    font-family: Verdana;
    font-size: 20px;
    color: white;
    margin: 0 !important;
    }


#pasek 
    {
        background-color: #303030;
        padding: 10 px 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        height: 40px;
        text-align: center ;
    }

ol
    {
        margin: 0;
        padding: 0;
        display: inline-block;
        font-size: 18px;
        height: 35px;
        line-height: 200%;
        list-style-type: none;
        
        
    }
    
ol > li
    {
        float: left;
        width: 150px;
        height: 40px;
        border-right: 1px dashed yellow;
        border-left: 1px dashed yellow;
    }

li
    {
        text-align: center ;
    }

li:hover
    {
        background-color: blue;
        cursor: pointer;
    }

  
a:link
{
		color: yellow;
}


a:visited
{
	color: yellow;
}

a 
{     
    text-decoration: none; 
} 