<form (submit)="save()" class="editForm">
  <div>
    <div class="bigButton">
      <label>Numer</label>
    </div>
    <div class="element">
      <input type="text" name="numer" required [(ngModel)]="phone.numer" />
    </div>

  </div>
  <div>
    <div class="bigButton">
      <label>Postpaid</label>
    </div>
    <div class="element">
      <label class="radio">
        <input type="radio" name="postpaid" [value]="true" ng-checked="phone.postpaid == true" required
          [(ngModel)]="phone.postpaid" />Tak
      </label>
      <label class="radio">
        <input type="radio" name="postpaid" [value]="false" ng-checked="phone.postpaid == false" required
          [(ngModel)]="phone.postpaid" />Nie
      </label>

    </div>
  </div>
  <div>
    <div class="bigButton">
      <label>Stan konta</label>
    </div>
    <div class="element">
      <input type="text" name="stan_konta" required [(ngModel)]="phone.stan_konta" />
    </div>
  </div>
  <div>
    <div class="bigButton">
      <label>Darmowe rozmowy</label>
    </div>
    <div class="element">
      <label class="radio"><input type="radio" name="darmowe_rozmowy" [value]="true"
          ng-checked="phone.darmowe_rozmowy == true" required [(ngModel)]="phone.darmowe_rozmowy" />Tak</label>
      <label class="radio"><input type="radio" name="darmowe_rozmowy" [value]="false"
          ng-checked="phone.darmowe_rozmowy == false" required [(ngModel)]="phone.darmowe_rozmowy" />Nie</label>


    </div>
  </div>
  <div>
    <div class="bigButton">
      <label>Darmowe smsy</label>
    </div>
    <div class="element">
      <label class="radio"><input type="radio" name="darmowe_smsy" [value]="true"
          ng-checked="phone.darmowe_smsy == true" required [(ngModel)]="phone.darmowe_smsy" />Tak</label>
      <label class="radio"><input type="radio" name="darmowe_smsy" [value]="false"
          ng-checked="phone.darmowe_smsy == false" required [(ngModel)]="phone.darmowe_smsy" />Nie</label>


    </div>
  </div>
  <div>
    <div class="bigButton">
      <label>Darmowy internet</label>
    </div>
    <div class="element">
      <label class="radio"><input type="radio" name="darmowy_internet" [value]="true"
          ng-checked="phone.darmowy_internet == true" required [(ngModel)]="phone.darmowy_internet" />Tak</label>
      <label class="radio"><input type="radio" name="darmowy_internet" [value]="false"
          ng-checked="phone.darmowy_internet == false" required [(ngModel)]="phone.darmowy_internet" />Nie</label>


    </div>
  </div>
  <div>
    <div class="bigButton">
      <label>Id klienta</label>
    </div>
    <div class="element">
      <input type="text" name="id_klienta" required [(ngModel)]="phone.id_klienta" />
    </div>
  </div>
  <div>
    <div class="button">
      <button class="bigButton">Zapisz!</button>
    </div>
  </div>


  <!-- </div> -->





</form>
