<form (submit)="save()">
    <label>Numer</label>
    <input type="text" name="imie" required [(ngModel)]="phone.numer" /><br />
    <label>Postpaid</label>
    <input type="text" name="nazwisko" required [(ngModel)]="phone.postpaid" /><br />
    <label>Stan konta</label>
    <input type="text" name="pesel" required [(ngModel)]="phone.stan_konta" /><br />
    <label>Darmowe rozmowy</label>
    <input type="text" name="adres_zam" required [(ngModel)]="phone.darmowe_rozmowy" /><br />
    <label>Darmowe smsy</label>
    <input type="text" name="adres_kon" required [(ngModel)]="phone.darmowe_smsy" /><br />
    <label>Darmowy internet</label>
    <input type="text" name="telefon" required [(ngModel)]="phone.darmowy_internet" /><br />
    <label>Id klienta</label>
    <input type="text" name="id_klienta" required [(ngModel)]="phone.id_klienta" /><br />
    <br /><br />
    <button>Zapisz!</button>
  </form>