<div *ngIf="info.token; else loggedOut">
    <div id="NU">
  <h5 class="text-primary">Twoje konto</h5>
  
 
    <strong>Nazwa użytkownika:</strong> {{info.username}}<br/>
    <strong>Typ:</strong>
    <div *ngFor="let type of info.authorities">
      <div *ngIf="type=='ROLE_ADMIN'; else noAdmin">Administrator</div>
      <ng-template #noAdmin>Zwykły użytkownik</ng-template>
    </div>
  <p *ngIf="isAdmin"><a href="admin" class="btn btn-dark" style="margin-top:30px">Panel administratora</a>
  </p>
</div>
  <div id="wyloguj">
    <button class="btn btn-secondary" (click)="logout()">Wyloguj się</button>
    </div>
</div>
 

<ng-template #loggedOut>
    <div id="zespol"><p>Zespół Oby Na Trzy</p></div>
    <div id="tytul"><p>Customer</p>
                    <p>Relationship</p>
                    <p>Management</p>
    </div>
  <div id="log">
  <a href="login">Logowanie</a>
</div>
</ng-template>
