<form (submit)="save()">
  <label>Imię:</label>
  <input type="text" name="imie" required [(ngModel)]="client.imie" /><br />
  <label>Nazwisko:</label>
  <input type="text" name="nazwisko" required [(ngModel)]="client.nazwisko" /><br />
  <label>PESEL:</label>
  <input type="text" name="pesel" required [(ngModel)]="client.pesel" /><br />
  <label>Adres zamieszkania:</label>
  <input type="text" name="adres_zam" required [(ngModel)]="client.adres_zam" /><br />
  <label>Adres kontaktowy:</label>
  <input type="text" name="adres_kon" required [(ngModel)]="client.adres_kon" /><br />
  <label>Telefon:</label>
  <input type="text" name="telefon" required [(ngModel)]="client.telefon" /><br />
  <label>Adres E-Mail:</label>
  <input type="text" name="email" required [(ngModel)]="client.email" />
  <br /><br />
  <button>Zapisz!</button>
</form>