<form (submit)="save()" class="editForm">
  <div>
    <div class="bigButton">
      <label>Imię:</label>
    </div>
    <div class="element">
      <input type="text" name="imie" required [(ngModel)]="client.imie" /></div>
  </div>
  <div>
    <div class="bigButton">
      <label>Nazwisko:</label>
    </div>
    <div class="element">
      <input type="text" name="nazwisko" required [(ngModel)]="client.nazwisko" />
    </div>
  </div>
  <div>
    <div class="bigButton">
      <label>PESEL:</label>
    </div>
    <div class="element">
      <input type="text" name="pesel" required [(ngModel)]="client.pesel" /></div>
  </div>
  <div>
    <div class="bigButton">
      <label>Adres:</label>
    </div>
    <div class="element">
      <input type="text" name="adres_zam" required [(ngModel)]="client.adres_zam" />
    </div>
  </div>
  <div>
    <div class="bigButton">
      <label>Adres kontaktowy:</label>
    </div>
    <div class="element">
      <input type="text" name="adres_kon" required [(ngModel)]="client.adres_kon" />
    </div>
  </div>
  <div>
    <div class="bigButton">
      <label>Telefon:</label>
    </div>
    <div class="element">
      <input type="text" name="telefon" required [(ngModel)]="client.telefon" />
    </div>
  </div>
  <div>
    <div class="bigButton">
      <label>Adres E-Mail:</label>
    </div>
    <div class="element">
      <input type="text" name="email" required [(ngModel)]="client.email" />
    </div>
  </div>


  <div>
    <div class="button">
      <button class="bigButton">Zapisz!</button>
    </div>
  </div>
</form>
